/* Global styles */
body {
	line-height: 1.45;
	font-family: Georgia, serif;
	margin: 1.2em;
	font-size: 1.25em;
}

main {
	background-color: white;
}

/* Paragraph and list styles */
p, ul {
	margin-bottom: 0.9em;
	font-size: 1em;
}

/* Link styles */
a {
	color:#428bca;
}
a:hover, a:focus {
	color: red;
}

/* Table styles */
table, th, td {
	border: 0.1em solid;
	text-align: left;
}

tr:nth-child(even) {
	background-color: lightblue;
}

/* Navigation styles */
nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 5em;
}

/* Header 1 styles */
h1 {
	font-size: 2.441em;
	margin-bottom: 0.5em;
	color: #0039a6;
}

/* Header 2 styles */
h2 {
	font-size: 1.953em;
	color: #0039a6;
}

/* Header 3 styles */
h3 {
	font-size: 1.563em;
	color: #0039a6;
}

img {
	max-width:100%;
	height:auto;
}

/* Error message styles */
[aria-invalid="true"] {
   border-color:  red;
   box-shadow:  0 0 2px red;
}

.error p {
   color:  red; /* Make text red */
   font-size: 0.75em;
}

/* Image styles */

.portrait {
	float: left;
	width: 8em;
	margin: 1em;
}

.menu {
	float: right;
	width: 4em;
	height: 4em;
}


/* -------- Media calls ------- */
/* -------------------- Mobile Screen ---------------------- */
/* ---------------------- Styles ---------------------- */
		body { 
			
			font-size:1.2em;
		}
		#mobileNav {
			text-align:center;
			display: block;
			margin-right: 7em;
		}
		#standardNav {
			display: none;
		}
		.mobilelogo {
			float:right;
			max-width:100%;
			height:auto;
			width:3em;
		}
		.desktoplogo {
			display:none;
		}
	
/* -------------------- Tablet Screen ---------------------- */
  	@media all and (min-width:651px) { 
/* ---------------------- Styles ----------------------- */
		body { 
			
			font-size:1.25em;
		}

		#mobileNav {
			display:none;
		}
		#standardNav {
			display:inherit;
		}
		.menu {
			display:none;
		}
		.desktoplogo {
			float:right;
			display:inherit;
			max-width:100%;
			height:auto;
			width:7em;
		}
		.mobilelogo {
			display:none;
		}
	}

		
	
/* -------------------- Desktop Screen --------------------- */
	@media all and (min-width:1026px) {  
/* ---------------------- Styles ----------------------- */
		body { 
			
			font-size:1.5em;
		}
		.menu { display:none; }
    }
