---
---

@import "{{ site.theme }}";

body {
    background-color: rgb(255, 255, 204);
    font-family: 'Atkinson Hyperlegible';
}

h1 {
    color: rgb(43, 10, 43);
}

.downloads {
    float:left;
    border-radius:5px;
}
