---
---

@import "{{ site.theme }}";

body {
    background-color: rgb(255, 255, 204);
    font-family: 'Atkinson Hyperlegible';
    color: black;
}

a {
    color: rgb(53, 13, 53);
}

a:hover, a:focus {
  color:rgb(29, 7, 29);
  font-weight: bold;
}

.downloads {
    float:left;
    border-radius:5px;
}
